
#domains {  background-color:#f8f8f8; margin-top: 50px; padding-top:2%; height:130px;  }

#plans { background-color:#009500; margin-top: 0; padding-top:5%; height:500px; box-shadow: 0px -2px 5px #009500; }

.plan { min-height: 380px; box-shadow: 1px 1px 10px; }

#mudar-nome { background-color:#f8f8f8; margin-top: 0; height:180px; }